@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    background-color: var(--Light-Grayish-Blue);
}

.hidden {
    display: none;
}

.container {
    background-color: white;
    width: 90%;
    margin: auto;
    margin-top: 5rem;
    border-radius: 0.5rem;
    overflow: hidden;
}

#img-drawer {
    width: 100%;
}

.header {
    margin-block-end: 0;
    font-size: 1.07rem;
}

.txt-content {
    color: var(--Very-Dark-Grayish-Blue);
    padding: 0 1.5rem;
    line-height: 1.6;
}

.txt-desc {
    color: var(--Grayish-Blue);
}

.author-container {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    margin: 1rem 0;
}

#img-author {
    border-radius: 50%;
    width: 15%;
    height: 20%;
}

.author-data {
    flex: 1;
    padding-left: 1rem;
}

.author-data span {
    display: block;
    margin-top: 0.2rem;
    color: var(--Grayish-Blue);
}

#icon-share {
    width: 8%;
    height: 10%;
    background-color: var(--Light-Grayish-Blue);
    padding: 0.5rem;
    border-radius: 50%;
}

#icon-share-active {
    background-color: var(--Grayish-Blue);
    width: 7%;
    padding: 0.5rem;
    border-radius: 50%;
    position: relative;
    left: 10%;
    top: 5%;
}

.click-data {
    background-color: var(--Very-Dark-Grayish-Blue);
    position: absolute;
    width: 77%;
    left: 7%;
    bottom: 11%;
    padding: 1.3rem 1rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.click-data * {
    padding: 0 0.5rem;
}

#share {
    color: var(--Grayish-Blue);
    vertical-align: super;
    font-size: medium;
    letter-spacing: 0.3rem;
}

.social-icon {
    width: 8%;
}

.attribution {
    font-size: 11px;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%);
    color: var(--white);
}

.attribution a {
    color: var(--white);
    font-style: italic;
    font-weight: bold;
}