@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    background-color: var(--Light-Grayish-Blue);
}

.container {
    background-color: white;
    width: 90%;
    margin: auto;
    margin-top: 5rem;
    border-radius: 0.5rem;
    overflow: hidden;
}

#img-drawer {
    width: 100%;
}

.header {
    margin-block-end: 0;
}

.txt-content {
    color: var(--Very-Dark-Grayish-Blue);
    padding: 0 1.5rem;
}

.txt-desc {
    color: var(--Grayish-Blue);
}

.author-container {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}

#img-author {
    border-radius: 50%;
    width: 20%;
}

.author-data {
    flex: 1;
    padding-top: 0.5rem;
    padding-left: 1rem;
}

.author-data span {
    display: block;
    margin-top: 0.2rem;
    color: var(--Grayish-Blue);
}

#icon-share {
    width: 8%;
    height: 10%;
    background-color: var(--Light-Grayish-Blue);
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 50%;
}

.click-data {
    visibility: hidden;
    padding: 1rem;
    padding-bottom: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--Very-Dark-Grayish-Blue);
}

.click-data * {
    padding: 0 0.5rem;
}

#share {
    color: var(--Grayish-Blue);
    vertical-align: middle;
}

.attribution {
    font-size: 11px;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%);
    color: var(--white);
}

.attribution a {
    color: var(--white);
    font-style: italic;
    font-weight: bold;
}